@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* font-family: 'Josefin Sans', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-position: -35em;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-cintainer {
    padding: 2em 1em;
}

.wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.img-container {
    background-image: url("./images/hero-mobile.jpg");
    width: 100vw !important;
    min-height: 55vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content {
    text-align: center;
    margin: 2em 1.5em;
}


/***************************
************* Typography ***********/

.heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    color: hsl(0, 6%, 24%);
}

.heading span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.greet-message {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    color: hsl(0, 36%, 70%);
    margin-top: 1.5em;
}

.btn-container input {
    margin-top: 5em;
    width: 80%;
    padding: 1em 2em;
    border: 0.1rem solid hsl(0, 36%, 70%);
    border-radius: 2rem;
    color: hsl(0, 36%, 70%);
    font-size: 1.1;
}

.arrow-icon {
    position: relative;
    left: 80%;
    top: -2.9rem;
    height: 2.9em;
    width: 4em;
    text-align: center;
    padding: 1.9vmin;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 10rem;
}

.arrow-icon:active {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
}

::placeholder {
    color: hsl(0, 36%, 70%);
}


/* Media query to make responsive */

@media screen and (min-width: 712px) {
    .wrapper {
        flex-direction: row-reverse;
    }
    .img-container {
        width: 40%;
        background-image: url("./images/hero-desktop.jpg");
        margin-top: -6.3em;
        min-height: 100vh;
        background-position: right;
    }
    .content {
        width: 60%;
        padding-left: 5.5em;
    }
    .logo-cintainer {
        padding: 2em 6.5em;
    }
    .heading {
        font-family: "Josefin Sans", sans-serif;
        font-size: 3.5rem;
        letter-spacing: 10px;
        text-transform: uppercase;
        padding-bottom: 0.5em;
        text-align: left;
        max-width: 50%;
    }
    .btn-container {
        text-align: left;
    }
    .arrow-icon {
        position: relative;
        left: 68%;
        top: -2.9rem;
        height: 3em;
        width: 4.5em;
        text-align: center;
    }
}